<div class="container pb-artist-wrap">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3><strong><%= @poll.title %></strong></h3>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong># Of Questions</strong></td>
                                <td><p><%= @questions.size %></p></td>
                            </tr>
                            <tr>
                                <td><strong># Of Responses</strong></td>
                                <% if @questions[0].nil? %>
                                	<td><p>0</p></td>
                                <% else %>
                                	<td><p><%= @questions[0].responses.size %></p></td>
                                <% end %>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="panel-heading">
                    <h3><strong>Poll Statistics</strong></h3>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table table-striped">
                        <tbody>
   							<% @questions.each do |question| %>
   								<tr>
   									<th><%= question.title %></th>
   									<th><%= question.submittable.breakdown %></th>
   								</tr>
   							<% end %>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="panel-footer">
                    <button class="btn btn-success pb-artist-albums">
                    	<%= link_to 'Fill Out The Poll', new_poll_response_path(poll_id: @poll) %>
                    </button>
                    <button class="btn btn-warning pb-arist-albums">
                    	<%= link_to('Add Multiple Choice Question', 
                    			    new_poll_question_path(
                    			    	@poll, 
                    			    	question: { 
                    			    		submittable_type: 'MultipleChoiceSubmittable' 
                    			    	}))%>
                    </button>
                    <button class="btn btn-warning pb-arist-albums">
                    	<%= link_to('Add Open Ended Question', 
                    			    new_poll_question_path(
                    			    	@poll, 
                    			    	question: { 
                    			    		submittable_type: 'OpenSubmittable' 
                    			    	}))%>
                    </button>
                    <button class="btn btn-dark">
                    	<%= link_to 'Back', polls_path %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>